<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Sign Up</title>
</head>
<body>

    <div class="well">

        {% if registered %}

            <h1>Thank You for Your registration!</h1>

        {% else  %}

        <h1>Register here :</h1>

        <h3>Fill out the form !</h3>

        <form method="POST" class="form-group" enctype="multipart/form-data">
            <!-- {{form.as_p}}  -->
            
            {% csrf_token %}

            {{ user_form|crispy }}

            {{profile_form|crispy}}

            <input class="btn btn-primary" type="submit" value="submit" >
        </form>

        {% endif %}
    </div>


    <div class="container">
        <h3>Welcome to django!</h3>
        
        <h2>Here are the links below :</h2>
        <a href="{% url 'template_app:index' %}" >Index</a>
        <a href="{% url 'template_app:basic' %}">Basic</a><br>
        <a href="{% url 'template_app:other' %}">Other</a><br>
        <a href="{% url 'template_app:signup' %}">Signup</a><br>
        <a href="{% url 'template_app:relative_template' %}">Relative_template</a><br>
    </div>
    
</body>
</html>