{% extends 'base.html' %} {%block content %}
<ul class="list">
  <h1>Detail Info :</h1>

  <li>Name : {{name}}</li>
  <li>Reg. No : {{reg}}</li>
  <li>Department : {{dept}}</li>
</ul>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Reg No</th>
    <th>Department</th>
  </tr>
  <tr>
    <td>{{name}}</td>
    <td>{{reg}}</td>
    <td>{{dept}}</td>
  </tr>
  <tr>
    <td>{{name}}</td>
    <td>{{reg}}</td>
    <td>{{dept}}</td>
  </tr>
  <tr>
    <td>{{name}}</td>
    <td>{{reg}}</td>
    <td>{{dept}}</td>
  </tr>
</table>
{% endblock %}
