{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'  %}" />
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <ul class="nav navbar-nav">
          <li>
            <a class="navbar-brand bigbrand" href="#">Yo</a>
          </li>
          <li class="navbar-list"><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'list' %}">List</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
        </ul>
      </div>
    </nav>

    {% block content %}

    <!-- other html codes -->

    {% endblock %}
  </body>
</html>
